header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.information {
    margin: 30px;
}

.information h4{
    margin-top: 21px;
    margin-left: 0;
    margin-bottom: 20px;
    margin-right: 0;
}

.information h6{
    margin:0;
}

.initial h6{
    margin: 0;
}

.haut_table {
    display: flex;
    justify-content: center;    
    justify-content: space-around;
}




.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-left: 30px;
    margin-right: 30px  ;
}

.first_line{
    display: flex;
    flex-direction: row;
}

.designation{
    border: 1px solid black;
    width: 900px;
    text-align: center;
}

.quantite{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 70px;
    text-align: center;
}

.PU{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 80px;
}

.total{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 80px;
}

.second_line{
    display: flex;
    flex-direction: row;
}

.element{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 900px;
    text-align : center;
}

.QTE{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 70px;
    text-align : center;
}

.PU2{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 80px;
    text-align : center;
}

.total2{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 80px;
    text-align : center;
}

.last_line{
    display: flex;
    justify-content: space-between;
    width: 1132.5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.last_line p:nth-child(1) {
    margin-left: 10px;
}

.last_line p:nth-child(2) {
    margin-right: 10px;
}


.bas_table{
    display: flex;
    justify-content: flex-start;
}

