<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>
<body>
    <h1>Exemple de PDF</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat blanditiis ex accusamus vero voluptates recusandae quisquam, cumque dolor cum, voluptatem, quasi esse exercitationem enim quas vitae nihil illum dolorum aliquam magnam eveniet! Voluptate aliquam aspernatur, officia animi, quae voluptatum impedit tempora tempore repudiandae fuga ex magni molestias, saepe voluptas perspiciatis architecto ipsum quam corporis excepturi non commodi eligendi aperiam corrupti.</p>

    <a href="{% url 'pdf' %}">Télécharger</a>
</body>
</html>